<header>
    <h1>EL portafolio de Asuka Langley Soryu</h1>
    <nav>
        <a href="/">Inicio</a> |
        <a href="/projects">Misiones</a> |
        <a href="/about">Sobre Mí</a>
    </nav>
</header>