<section class="error-page">
    <h2>404 | ¡Estúpido! Ruta equivocada.</h2>
    <p>¿Qué crees que estás haciendo? Esta ruta no existe. ¡Deja de perder el tiempo, baka!</p>
    <a href="/">Volver al Inicio (si eres capaz)</a>
</section>